# Ignora o ambiente virtual local
.venv/
venv/

# Cache e artefatos
__pycache__/
*.pyc
*.pyo
*.pyd

# Grandes Arquivos do modelo
model/*.h5
model/*.pkl
mlruns/


# Dados locais e arquivos de build
*.db
*.sqlite3
*.h5
*.npy

# Configs e arquivos ocultos
.env
.DS_Store
*.log

# Git
.git
.gitignore
